@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-page="/Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
@if (SignInManager.IsSignedIn(User))
{
        <li><a asp-page="/Notifications"><span class="glyphicon glyphicon-bullhorn"></span> Notify</a></li>
        <li><a asp-page="/Templates"><span class="glyphicon glyphicon-file"></span> Templates</a></li>
}
 
    </ul>
    @await Html.PartialAsync("_LoginPartial")
    
</div>

