@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Notify.Me";
}

@section Scripts
    {
    @if (SignInManager.IsSignedIn(User))
    {
        <script type="text/javascript" src="~/js/chat.js"></script>
        <script>

            $(".arstatus").click(function () {
               
                $.ajax({
                    url: '/',
                    data: {
                        status: $(this).data('status')
                    }
                })

            });
        </script>

    }
}
<h2>Hello,</h2>
@if (SignInManager.IsSignedIn(User))
{


    <h3>Are you ready to talk with your visitors? Let's go... :)</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordiona">
                        <span class="glyphicon glyphicon-comment"></span> Notification Messages
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOnea">
                        <div class="panel-body" id="notifications">
                            <ul id="generalnotification" class="chat"></ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="hidden" value="You" id="txtnotificationuser" />
                                <input id="txtnotification" maxlength="250" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btnsendnotification">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div style="margin:5px 5px">
                        <button class="btn btn-success arstatus" data-status="Online" id="btnonline">Online</button>
                        <button class="btn btn-danger arstatus" data-status="Busy" id="btnbusy">Busy</button>
                        <button class="btn btn-warning arstatus" data-status="Away" id="btnaway">Away</button>
                    </div>
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="panel-body" id="chatcontent">
                            <ul id="messagesList" class="chat"></ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="hidden" value="You" id="txtuser" />
                                <input id="txtmessage" maxlength="250" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btnsendmessage">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{

    <h2> Please login to contact with users...</h2>
}

