@page
@model Notifications
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Notify.Me";
}
@section Scripts
{
    @if (SignInManager.IsSignedIn(User))
    {

        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=g4q2s6u0msl84m6htaw4ztm3by25re9sn4eiv07m907wbu6o"></script>
        <script type="text/javascript" src="~/js/chat.js"></script>
        <script type="text/javascript" src="~/js/notification.js"></script>
    }
}

<div class="container">
    <pre>
        You can instantly send notifications to your web page to display custom messages to your real-time visitors.
        So you can make an interaction with visitors. 

        There are about <strong>@Model.ActiveVisitorCount </strong>connected user(s).
    </pre>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="notificationpanel">
                    <span class="glyphicon glyphicon-comment"></span> Notification Messages
                    <div class="btn-group pull-right">
                       
                    </div>
                </div>
                <div class="panel-collapse collapse in" id="collapsenotification">
                    <div class="panel-body" id="notifications">
                        <table id="notificationdata" class="table table-striped table-bordered compact notificationdata">
                            <thead>
                                <tr>
                                    <th>Content</th>
                                    <th>Date</th>
                                    <th>Id</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>
                        <ul id="generalnotification" class="chat"></ul>
                    </div>
                    <div class="panel-footer">
                        <div>
                            <input type="hidden" value="You" id="txtnotificationuser" />
                            <input id="txttitle" maxlength="250" type="text" class="form-control input-sm" placeholder="Type a title..." />
                            <input id="txtlink" maxlength="250" type="text" class="form-control input-sm" placeholder="Type a link if exists..." />
                            <textarea id="txtnotification"></textarea>
                            <div class="text-right p-t-8" >
                                <button class="btn btn-warning btn-sm" id="btnsendnotification">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>