@inject SignInManager<IdentityUser> SignInManager

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData">Personal data</a></li>
    <li class="@ManageNavPages.AccessKeysNavClass(ViewContext)"><a asp-page="./AccessKeys">Access Keys</a></li>
</ul>
