@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<div class="limiter" style="margin-top:-55px">
    <div class="container-login100">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" method="POST">
                    <span class="login100-form-title p-b-43">
                        Login to continue
                    </span>
                   <div class="p-b-20">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    
                    <div class="wrap-input100 validate-input" >
                        <input asp-for="Input.Email" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>
                    
                    
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.Password" class="input100" type="password" >
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            
                        </div>

                        <div>
                            <p class="fs-12">
                                <a asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p class="fs-12">
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </div>
            

                    <div class="container-login100-form-btn">
                       <button type="submit" class="btn btn-info btn-sm login100-form-btn"> <span class="glyphicon glyphicon-log-in"></span></button>
                    </div>
                    
                    
                </form>   
            </section>
            <div class="login100-more p-t-150 p-r-40 p-l-40" style="background-image: url('/images/Login.jpg');">
                <div class="panel panel-primary ">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <span id="onlinehost">Offline</span>
                        </div>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="panel-body" id="chatcontent">
                            <ul id="messagesList" class="chat"></ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="hidden" value="visitor" id="txtuser" />
                                <input id="txtmessage" maxlength="250" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-sm" id="btnsendmessage">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
</div>
				<div id="notifypopup"></div>
@section Scripts {
        <environment include="Development">
            <script type="text/javascript" src="~/js/chat.js"></script>
        </environment>
        
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/chat.min.js"></script>
        </environment>
}
