@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

   
            <section>
                <form class="login100-form validate-form" method="POST">
                    <span class="login100-form-title p-b-43">
                        Login to continue
                        
                    </span>
                   <div class="p-b-20">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    
                    <div class="wrap-input100 validate-input" >
                        <input asp-for="Input.Email" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>
                    
                    
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Input.Password" class="input100" type="password" >
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <p>
                                <a asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </div>
            

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Login</button>
                    </div>
                    
                    
                </form>   
            </section>
        
        
            
            <div class="login100-more" style="background-image: url('/images/MiyopRobot.jpg');">
            
            </div>

        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
