@page
@model Chat
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Chat";
}

@section Scripts
{
    @if (SignInManager.IsSignedIn(User))
    {

    }
}
<link rel="stylesheet" type="text/css" href="~/css/chat.css">
@if (SignInManager.IsSignedIn(User))
{
    <h4>How to add chat box to your site</h4>
    <p>
        It is very easy to add a chat box to your web site. Just use the following code snippet and that's it...
        Also don't forget to generate an Access Key and replace with {ACCESS KEY}
    </p>
    <pre>
        &lt;div id=&quot;container&quot; &quot;&gt;
            &lt;chat ref=&quot;box&quot; access-key=&quot;{ACCESS KEY}&quot;&gt;&lt;/chat&gt;
        &lt;/div&gt;

        &lt;script src=&quot;https://notifyminepla.azurewebsites.net/lib/signalr/signalr.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://cdn.jsdelivr.net/npm/vue&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://notifyminepla.azurewebsites.net/js/component.js&quot;&gt;&lt;/script&gt;
        &lt;script&gt;
            var component = new Vue({
                el: '#container'
            });
        &lt;/script&gt;
    </pre>
}
